
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-SemiBold.ttf) format('truetype');
    font-weight:600;
}

@font-face {
    font-family: 'Korataki';
    src: url(fonts/Korataki/korataki.otf) format('truetype');
    font-weight: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.overley {
    position: fixed;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.overley.show {
    opacity: 0.9;
    z-index: 10;
}
a {
    text-decoration: none;
}

 body {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal; 
    color: #231815;
}

.wrapper {
    background-color: #231815;
}
.header__info-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 70px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    max-width: 1400px;
    margin: 0 auto;
    
}

.info-link {
    text-decoration: none;
    color: #ffffff;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    height: 80px;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
}    

.header__menu-link a {
   color: #231815;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 16px;
}

#search {
    padding: 11px 21px;
    border: #f5f5f5 1px solid;
    border-radius: 88px;
}



.search-input {
    position: relative;

}

.search-input input[type="text"] {
    font-size: 16px;
    max-width: 170px;
}
.search-input input[type="text"]:focus .search__icon {
    right: 100px;
}
.search__icon {
    position: absolute;
    width: 22px;
    height: 22px;
    fill: #231815;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    pointer-events: none;
}



.header__burger {
    display: none;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    position: relative;
    width: 57%;
    height: 2px;
    background-color: #0C0C0C;
    transition: 0.4s ease;
}


.line-2{
    top: -6.4px;
}

.line-3{
    top: .4px;
}

.header__panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart {
    padding: 2px 21px;
    background-color: #000000;
    color: #ffffff;
    border: #f5f5f5 1px solid;
    border-radius: 88px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.icon {
    position: relative;
}

.count {
    position: absolute;
    top: 0;
    right: -2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #231815;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

main {
    max-width: 1400px;
    margin: 60px auto;
}

h1 {
    font-family: 'Korataki';
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.card {
    max-width: 320px;
}

.card__img img {
    width: 100%;
    object-fit: cover;
}


.card__img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}

.stock {
    position: absolute;
    padding: 8px 39px;
    border-radius: 40px;
    background-color: #231815;
    color: #ffffff;
    top: 10px;
    left: 10px;
}

.card__title {
    margin-top: 20px;
    font-size: 18px;
}

.card__price {
    margin-top: 12px;
    display: flex;
    gap: 16px;
    font-size: 22px;
}
.card__price-price {
    font-weight: bold;
    color: #231815;
}

.action {
    color: #E45302;
}

.card__price-sale {
    font-weight: bold;
    color: #808080;
    text-decoration: line-through;
}

.card__more {
    background-color: rgba(245, 245, 245, .7);
    position: absolute;
    width: 100%;
    padding:20px 31px 20px;
    bottom: -100%;
    transition: 0.2s bottom ease;
}

.more {
    background-color: #E45302;
    color: #ffffff;
    padding: 13px;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

.card__img:hover .card__more {
    transition: 0.2s bottom ease;
    bottom: 0;
}
footer .wrapper {
    background-color: #0C0C0C;
}


.footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer a {
    color: #ffffff;
}

.footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 0;
    color: #ffffff;
    max-height: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 38px;
}

.footer__protect {
    max-width: 322px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #808080;
}

.footer__services ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
}

.footer__contacts, .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__public {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #808080;
    text-align: right;
}



.footer__pay {
    display: flex;
    align-items: center;
    gap: 33px;
    justify-content: end;
}


@media (max-width:1600px) {
    main, .footer, .header__nav, .header__info-links {
        max-width: 1240px;
    }
    .cards {
        gap: 30px;
    }
    .card {
        max-width: 287px;
    }

    #search {
        font-size: 16px;
        max-width: 39px;
        background-color: #000000;
        transition: .4s all ease-in;
    }

    #search:focus {
        max-width: 180px;
        background-color: #f5f5f5;
    }
    .search__icon{
        position: absolute;
        fill: #ffffff;
        right:50%;
        top: 50%;
        width: 22px;
        height: 22px;
        transform: translate(50%, -50%);
    }

    #search:focus + .search__icon{
       fill: #000000;
       right: 25px;
    }
}
@media (max-width:1280px) {
    main, .footer, .header__nav, .header__info-links {
        max-width: 921px;
    }
    .header__menu {
        flex: 1;
        justify-content: space-around;
        gap: 0;
    }
    
    .footer {
        max-height: none;
        flex-direction: row;
    }
}

@media (max-width:968px) {
    main, .footer, .header__nav, .header__info-links {
        max-width: 740px;
    }
    .header__menu {
        flex: 1;
        justify-content: space-around;
        gap: 0;
    }

    .cards {
        gap: 10px;
    }
    .card {
        max-width: 240px;
        font-size: 16px;
    }
}
@media (max-width:770px) {
    body {
        overflow-x: hidden;
    }
    main, .footer, .header__nav {
        max-width: 80%;
    }

    main h1 {
        font-size: 32px;
    }
    .header__info-links {
        display: none;
    }
    .header__burger {
        z-index: 10;
        display: flex;
        cursor: pointer;
    }
    .header__burger.active {
        position: fixed;
        right: 54px;
    }
    .header__burger.active .line-1 {
      width: 0%;
      transition: 0.4s ease;   
    }
    .header__burger.active .line-2 {
        top: -0.4px;
      transform: rotate(45deg);
      transition: 0.4s ease;   
    }
    .header__burger.active .line-3 {
        top: -1.6px;
      transform: rotate(-45deg);
      transition: 0.4s ease;   
    }

    
 
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 40px;
    }
    .card {
        max-width: none;
    }
    .logo img {
        max-width: 141px;
    }

    .header__menu {
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: -100%;
        gap: 20px;
        align-items: flex-start;
        z-index: 10;
        max-width: 180px;
        transition: all 0.4s ease-in;
    }

    .header__menu.show {
        right: 10%;
        transition: all 0.4s ease-in;
    }

    .header__panel {
        position: fixed;
        top: 200px;
        right: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 10;
        transition: all 0.4s ease-in;
    }
    .header__panel.show {
        right: 10%;
        transition: all 0.4s ease-in;
    }

    #search{
        font-size: 16px;
        max-width: 180px;
        background-color: #ffffff;
    }

   
    .search__icon{
        position: absolute;
        fill:#231815;
        right:50%;
        top: 50%;
        width: 22px;
        height: 22px;
        transform: translate(50%, -50%);
        transition: .4s ease;
    }
    #search:focus + .search__icon {
        right: 25px;
        transition: .4s ease;
    }

    .header__nav {
        position: relative;
    }

    .footer {
        /* flex-direction: column; */
    }
    .footer__contacts {
        flex-direction: row;
    }

    
    .footer__public {
        order: 1;
        text-align: left;
    }

    .footer__pay {
        order: 2;
        justify-content: flex-start;
    }

    .footer__protect {
        order: 3;
    }

    .search__icon.focused {
        right: 25px;
        transition: all .4s ease;
    }
}

@media (max-width:648px) {
    
   .card__title, .card__price {
    font-size: 16px;
   }
}
@media (max-width:500px) {
    
    .card__more {
        padding: 12px;
    }
    .more {
        font-weight: normal;
        padding: 8px;
    }
    .footer {
        flex-direction: column;
    }
    .footer__contacts {
        flex-direction: column;
    }

}

@media (max-width:390px) {
    main h1 {
        font-size: 24px;
    }
    
    .footer {
        padding: 36px;
    }

    .footer__public {
        order: 1;
        text-align: left;
    }

    .footer__pay {
        order: 2;
        justify-content: flex-start;
    }

    .footer__protect {
        order: 3;
    }
    .stock {
        padding: 2px 14px;
    }
    .card {
        font-size: 14px;
        font-weight: normal;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 10px;
    }

    .card__price-sale {
        font-size: 14px;
    }
}
